/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "RobotoRegular"; src: url("../fonts/roboto-regular.eot"); src: url("../fonts/roboto-regular.eot") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); }

@font-face { font-family: "RobotoBlack"; src: url("../fonts/roboto-black.eot"); src: url("../fonts/roboto-black.eot") format("embedded-opentype"), url("../fonts/roboto-black.woff") format("woff"), url("../fonts/roboto-black.ttf") format("truetype"); }

@font-face { font-family: "NovitoNovaRegular"; src: url("../fonts/novitonova-regular.eot"); src: url("../fonts/novitonova-regular.eot") format("embedded-opentype"), url("../fonts/novitonova-regular.woff") format("woff"), url("../fonts/novitonova-regular.ttf") format("truetype"); }

body { font-size: 15px; font-family: "RobotoRegular", sans-serif; line-height: 1.4; color: #242424; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.grey { background: #f9f6ed; }

.container { width: 1160px; margin: 0 auto; padding: 0 60px; }

.header { position: relative; }

.header__leftbg { position: absolute; top: 0; left: 0; bottom: 0; width: 50%; overflow: hidden; background: #e5eaec; z-index: 1; }
.header__leftbg img { position: absolute; top: 149px; right: -520px; }

.header__rightbg { position: absolute; top: 0; right: 0; bottom: 0; width: 50%; overflow: hidden; background: #f5f0df; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f3e4), color-stop(100%, #f2ebd8)); background-image: -webkit-linear-gradient(#f6f3e4, #f2ebd8); background-image: -moz-linear-gradient(#f6f3e4, #f2ebd8); background-image: -o-linear-gradient(#f6f3e4, #f2ebd8); background-image: linear-gradient(#f6f3e4, #f2ebd8); z-index: 1; }
.header__rightbg img { position: absolute; top: 147px; left: -580px; }

.header__topper { position: relative; *zoom: 1; padding: 40px 0px 0; height: 592px; z-index: 2; }
.header__topper:after { content: " "; display: table; clear: both; }

.header__left, .header__right { float: left; width: 420px; font-family: "NovitoNovaRegular", sans-serif; text-transform: uppercase; font-size: 90px; line-height: 1; color: #464441; }

.header__right { float: right; text-align: right; }

.header__mid { overflow: hidden; text-align: center; }
.header__mid span { display: inline-block; width: 94px; height: 94px; line-height: 94px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #ffc300; font-family: "NovitoNovaRegular", sans-serif; text-transform: uppercase; text-align: center; font-size: 60px; color: white; }

.topper { height: 89px; border-bottom: 1px solid #e5e5e5; }

.logo { float: left; padding-top: 20px; }
.logo a { display: block; background: url('../img/icons-sad81582512.png') 0 0 no-repeat; width: 228px; height: 54px; }

.topper__phone { float: right; font-family: "RobotoBlack", sans-serif; color: #464441; line-height: 89px; }

.nav { overflow: hidden; }
.nav ul { text-align: center; }
.nav ul li { display: inline-block; margin: 0 25px; }
.nav ul li a { line-height: 89px; color: #464441; text-decoration: none; }
.nav ul li a:hover { text-decoration: underline; color: black; }
.nav ul li a.is-active { color: #ffc300; text-decoration: underline; }

.about { *zoom: 1; padding: 70px 0; }
.about:after { content: " "; display: table; clear: both; }

.about__left { float: left; width: 666px; }

.about__right { float: right; width: 100%; }

.h3 { margin-bottom: 50px; font-family: "NovitoNovaRegular", sans-serif; text-transform: uppercase; font-size: 60px; line-height: 1; color: #464441; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
